/* importing fonts (quicksand) /-.-. ..- .../ it's /-.-. --- --- .-../ */
@font-face {
  font-family: 'Quicksand';
  src: url('fonts/static/Quicksand-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Quicksand-Light';
  src: url('fonts/static/Quicksand-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Quicksand-Medium';
  src: url('fonts/static/Quicksand-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Quicksand-SemiBold';
  src: url('fonts/static/Quicksand-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('fonts/static/Quicksand-Bold.ttf');
  font-weight: 700;
}

/* basic body style stuff */
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 2rem;
    font-family: 'Quicksand';
    background-color: rgb(247, 218, 217);
}


.header-navbar-row {
    position: fixed;                       
    display: flex;
    top: 0em;
    left: 0em;
    background-color: rgb(120, 100, 82);     
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-height: 2em;
    z-index: 10;
}

/* the navigation bar basic style */
.navbar-column {
    position: fixed;
    display: flex;
    background-color: rgb(68, 55, 48);
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 100%;
    padding-top: 1.5em;
    padding-right: 1em;
    margin: 0em;
    z-index: 20;
}

/* links to not be underlined */
a {
    text-decoration: none;
    color: rgb(24, 24, 24);
    transition: color 0.2s;
}

a:hover {
    color: black;
    font-family: 'Quicksand-SemiBold';
    font-weight: 600;
}

a:active {
    color: rgb(61, 61, 61);
}

/* organize the lists */
ul {
    list-style: none;
    width: 10.7em;
}

/* organize the uh text in the lists */
li {
    padding-right: 2em;
    margin-left: 1rem;
    margin-right: 1rem;
}
