/* importing fonts (quicksand) /-.-. ..- .../ it's /-.-. --- --- .-../ */
@font-face {
  font-family: 'Quicksand';
  src: url('fonts/static/Quicksand-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Quicksand-Light';
  src: url('fonts/static/Quicksand-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Quicksand-Medium';
  src: url('fonts/static/Quicksand-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Quicksand-SemiBold';
  src: url('fonts/static/Quicksand-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('fonts/static/Quicksand-Bold.ttf');
  font-weight: 700;
}

/* basic body style stuff */
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 4rem;
    font-family: 'Quicksand';
    background-color: rgb(247, 218, 217);
}

/* the navigation bar basic style */
.header-navbar {
    background-color: rgb(68, 55, 48);                        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0.3em 0.4em;
}

.header-navbar-row {
    background-color: rgb(120, 100, 82);                        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    padding: 0.3em 0.4em;
}